name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check_files:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Check for modified files
      run: |
        if git diff --name-only HEAD^ HEAD | grep -E 'test.py|test2.py|test3.py|crypt.py'; then
          echo "Error: Modifications to test.py, test2.py, test3.py, or crypt.py are not allowed."
          exit 1
        fi

  run_tests:
    runs-on: ubuntu-latest
    needs: check_files

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Make run_command executable
      run: chmod +x ./run_command

    - name: Run custom tests
      run: ./run_command
